:root {
  /*FONTY*/
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /*FONT WEIGHT*/
  --light: 300;
  --regular: 400;
  --bold: 700;
  --black: 800;
  /*KOLORY*/
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-accent-primary: #fb3b64;
  --color-accent-secondary: #55dfb4;
  --color-black: #000;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
  --color-white: #fff;
  /*JEDNOSTKI*/
  --container-width: 1352px;
  font-size: 16px;
}

body {
    font-family: var(--primary-font);
    color: var(--color-black)
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

.container {
    max-width: var(--container-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*HEADER*/

.header {
  padding: 1rem 8rem;
  box-shadow: 0 3px 6px #00000029;
}

.logo {
  color: var(--color-primary);
  font-family: var(--secondary-font);
  font-weight: var(--light);
}

.header-logo {
  font-size: 2rem;
}

.menu {
  display: flex;
}

.menu-item-link {
  color: var(--color-grey);
  font-size: 11px;
  padding: 20px 12px;
  font-weight: var(--bold);
  letter-spacing: 3px;
  line-height: 15px;
}

.menu-item-link:hover {
  color: var(--color-black);
  border-bottom: 4px solid var(--color-primary);
}

/*CTA SECTION*/

.full-width {
    text-align: center;
    padding-top: 8rem;
}

.title {
    font-family: var(--secondary-font);
    font-weight: var(--regular);
}

.title-big {
    font-size: 3rem;
    margin: 20px;
    line-height: 57px;
}

.img-full-width {
    width: 100%;
}

.text {
    line-height: 22px;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: var(--color-white);
    cursor: pointer;
}

.btn-primary {
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.btn-big {
    font-size: 22px;
    padding: 1em 8rem;
    border-radius: 40px;
}