/*FONTY*/
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
/*FONT WEIGHT*/
$light: 300;
$regular: 400;
$bold: 700;
$black: 800;
/*KOLORY*/
$color-primary: #08a6e4;
$color-primary-shadow: rgba(7, 172, 230, 0.16);
$color-accent-primary: #fb3b64;
$color-redish: #fb3b64;
$color-accent-secondary: #55dfb4;
$color-green: #55dfb4;
$color-black: #000;
$color-grey: #a5a5a5;
$color-light-grey: #f7f7f7;
$color-white: #fff;
/*JEDNOSTKI*/
$container-width: 1352px;